

/* hero  */
.hero{
   /* min-width: 575px; card  overlay no puede ajustar el contenido del texto cuando se excede - manual de bootstrap */
   
   height: 500px;
   
}

.hero-card {
max-height: 500px;
}

/* manual y procedimientos  */



.icono-manual-proc{
    font-size: 2.5rem;
}

/* formularios */
.formularios {
/*height: 600px;*/
}

/* docs clientes  */

.docs-clientes {
    height: 600px;
}

.carousel-item img {
    object-fit: contain;
    object-position: center;
    overflow: hidden;
    height:50vh;
}


/* pie de pagina  */

footer{
  min-height: 300px;
}

.icono-footer{
    font-size: 4rem;
    
}

.footer-redes-contacto{
    font-size: 3rem;
    
}

/* Tabla consulta */

.table-scrollable {
    overflow: auto;
    max-width: 100vw;
    max-height: 70vh;
    margin: auto;
  
  }

  .table-fixed {
    background-color: #fbfbfb;
    width: 100%;
}
.table-fixed tbody {
    height: 200px;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}
.table-fixed tbody td {
    float: left;
}
.table-fixed thead tr .encabezado {
    background-color:#159bd0;
    border-color:#0881b1;
    float: left;
	  color:#fff;
}



/* responsivo  */
@media screen and (max-width: 600px) {

    .table {
    font-size: 0.75rem;
    }
        
    
}
@media screen and (max-width: 575px) {

.hero-card .card-title {
font-size: 1rem;
}
.hero-card p {
    font-size: 0.75rem;
    }
    

}

@media screen and (max-width: 485px) {

    .hero-card .card-title {
    font-size: 0.75rem;
    }

    .hero-card p {
        font-size: 0.5rem;
    }
        
    .table {
    font-size: 0.3rem;
    }
}

